.custom-yellow {
  color: #ff9c00 !important;
}

.card-bg {
  background-image: url("../../assets/items/cardbg.svg");
  background-size: 100% 100%;
  -moz-backface-visibility: hidden;
}

.newIcon {
  height: 4rem;
}

.card-btn {
  text-transform: uppercase;
  background-color: #ff9c00;
  font-weight: 700 !important;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  font-size: 13px;
}
.card-btn:hover {
  text-transform: uppercase;
  background-color: #fcac2d;
  font-weight: 700 !important;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  font-size: 13px;
}

.gift-item {
  margin-top: -1rem;
}
