.conrol-slider {
  height: 75vh;
}

.slider {
  height: 100%;
}

.p-header {
  width: 220.426px;
  min-width: 17rem;
  min-height: 20px;
  line-height: 1;
  padding: 3px 28px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(75, 21, 135) 0%,
    rgb(156, 85, 235) 100%
  );
  font-size: 14px;
  font-weight: 500;
}

.font-header {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.desc {
  font-weight: 400;
  font-size: 12px;
  color: rgb(176, 177, 190);
  width: auto;
}

.vs-btn {
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding: 12px 24px;
  font-size: 11px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(75, 21, 135) 0%,
    rgb(156, 85, 235) 100%
  );
  z-index: 1;
  line-height: 1;
  transition: all ease 0.4s;
}

.slide1 {
  background-image: url("../../assets/header/slider1.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.slide2 {
  background-image: url("../../assets/header/slide1.jpg");
  background-size: cover;
  position: relative;
}
.slide3 {
  background-image: url("../../assets/header/slide2.jpg");
  background-size: cover;
  position: relative;
}

.slideTextDiv {
  position: absolute;
  bottom: 6rem;
  left: 0;
  max-width: 90%;
}

/* media queries */

@media (max-width: 320px) {
  .slideTextDiv {
    text-align: center;
    position: absolute;
    bottom: 10rem;
    left: 0;
    max-width: 100%;
  }

  .p-header {
    width: auto;
    min-height: 20px;
    line-height: 1;
    padding: 3px 28px;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .slideTextDiv {
    text-align: center;
    position: absolute;
    bottom: 10rem;
    left: 0;
    max-width: 100%;
  }

  .p-header {
    width: auto;
    min-height: 20px;
    line-height: 1;
    padding: 3px 28px;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .font-header {
    font-size: 3rem;
    font-weight: 900;
  }

  .vs-btn {
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 15px 30px;
    font-size: 13px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    z-index: 1;
    line-height: 1;
    transition: all ease 0.4s;
  }

  .desc {
    font-weight: 400;
    font-size: 14px;
    color: rgb(176, 177, 190);
    width: auto;
  }

  .slideTextDiv {
    position: absolute;
    bottom: 7rem;
    left: 0;
    max-width: 90%;
  }

  .p-header {
    width: 220.426px;
    min-width: 18rem;
    min-height: 20px;
    line-height: 1;
    padding: 3px 28px;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .font-header {
    font-size: 4rem;
    font-weight: 900;
  }

  .vs-btn {
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 18px 38px;
    font-size: 14px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    z-index: 1;
    line-height: 1;
    transition: all ease 0.4s;
  }

  .desc {
    font-weight: 400;
    font-size: 16px;
    color: rgb(176, 177, 190);
    width: auto;
  }

  .slideTextDiv {
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    max-width: 90%;
  }

  .p-header {
    width: 220.426px;
    min-width: 20rem;
    min-height: 20px;
    line-height: 1;
    padding: 4px 28px;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(75, 21, 135) 0%,
      rgb(156, 85, 235) 100%
    );
    font-size: 18px;
    font-weight: 500;
  }
}
