.bg-privacy {
  background-color: rgba(95, 76, 202, 0.534);
}

.privacy-text {
  color: #cbcbf2;
  font-size: 13px;
}
.privacy-h1 {
  color: #cbcbf2;
  font-size: 16px;
  font-weight: 600;
}

.privacy-content {
  padding: 22px 30px 33px;
  margin: auto;
  width: auto !important;
}

/* media queries */

@media (min-width: 768px) {
  .privacy-content {
    padding: 22px 30px 33px;
    margin: auto;
    width: auto !important;
  }
}

@media (min-width: 992px) {
  .privacy-content {
    padding: 22px 30px 33px;
    margin: 23px auto;
    width: 700px !important;
  }
}
